# Generated Assets
.agent/studio/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# OS
.DS_Store

assets/
archive/
.ruff_cache/
.pytest_cache/
.env.local
