@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f0f0f0;
  /* Device background */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}